<a href='/'><button>home</button></a> 
<h1>Welcome, <%= current_user.name %></h1>
<h1>Secrets</h1>
<% @secrets.each do |secret| %>
<%= secret.content %><br>
<% end %>
<a href='/user/<%=current_user.id %>'><button>Add</button></a>
User.find(session[:user_id]).secrets_liked_ids => gives array of all secrets liked by this user 